.container{
    text-align: center;
    margin-top: 23px;
}
.container h1
{
    font-size: 4rem;
    text-decoration: underline;
}

table{
    margin: auto;
}

input{
    font-size: 28px;
    width: 14em;
    padding: 12px 12px;
    border: 4px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
}
input:focus{
    outline: none;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background-color: grey;
    width: 102px;
    height: 60px;
}

.calculator{
    display: inline-block;
}